.card {
  width: 20em;
  height: auto;
  margin: 2rem;
  padding: 1rem;
  background-color: $lightColor;
  border-radius: 20px;
  color: $darkColor;
  // border: 1px solid $darkColor;
}

.card-word,
.card-transcr,
.card-def {
  margin-bottom: 0.5rem;
}

.card-word {
  font-size: 2rem;
  font-weight: 600;
}

.card-transcr {
  font-style: italic;
}

.card-category {
  width: max-content;
  margin: auto;
  padding: 0 5px;
  background-color: $accentColor2;
  color: $lightColor;
}

.card-example {
  font-weight: 300;
}
