.words-list {
  width: 100%;
  border: 1px solid $supportColorDark;
  text-align: start;
}

.btn_add,
.btn_edit,
.btn_del {
  @include btn;
  img {
    width: 16px;
    height: 16px;
  }
  &:hover {
    background-color: $supportColorLight;
  }
  &:active {
    background-color: $accentColor3;
  }
}

.btn_add {
  background-color: $accentColor2;
}

.btn_edit {
  background-color: $accentColor3;
}

.btn_del {
  background-color: $accentColor1;
}
