button,
a {
  cursor: pointer;
}

input {
  @include word-input;
  &:hover {
    border: 2px solid $accentColor1;
  }
}

.head-title {
  font-size: $headTitleFontSize;
  color: $accentColor2;
}

.new-word_btn {
  @include btn;
  background-color: $accentColor2;
  color: $lightColor;
  font-weight: 600;

  &:hover {
    background-color: $lightColor;
    color: $darkColor;
  }

  &:active {
    background-color: $accentColor3;
  }
}

.words-list {
  color: $darkColor;
}

.words-list_item {
  font-size: $plainTitleFontSize;
  font-weight: 600;
  color: $accentColor2;
}
