button,
a {
  cursor: pointer;
}

input {
  @include word-input;
  &:hover {
    border: 0.5px solid $accentColor1;
  }
}

.head-title {
  font-size: $headTitleFontSize;
  color: $accentColor2;
}

.new-word_btn {
  @include btn;
  background-color: $accentColor2;
  color: $supportColorWhite;
  font-weight: 600;

  &:hover {
    background-color: $supportColorLight;
    color: $supportColorDark;
  }

  &:active {
    background-color: $accentColor3;
  }
}

.words-list {
  color: $supportColorDark;
}

.words-list_item {
  font-size: $plainTitleFontSize;
  font-weight: 600;
  color: $accentColor2;
}
