$defaultFontSize: 16px;
$plainTitleFontSize: 20px;
$headTitleFontSize: 48px;

// $defaultTextColor: #313037;
// $accentColor: rgb(75, 91, 163);
// $hoverColor: rgb(87, 96, 122);
// $activeColor: rgb(190, 163, 127);
// $btnAddColor: rgb(89, 165, 59);
// $backgroundColor: rgba(158, 164, 194, 0.4);

$accentColor1: #f28c95;
$accentColor2: #6087cb;
$accentColor3: #ffdea5;
$supportColorWhite: #fff;
$supportColorLight: #e6ebf5;
$supportColorDark: #313037;
