$defaultFontSize: 16px;
$plainTitleFontSize: 20px;
$headTitleFontSize: 36px;

$accentColor1: #e4d5c7;
$accentColor2: #ce7f3e;
$accentColor3: #d9b23d;
$accentColor4: #bf984e;
$accentColor5: #a6845b;
$supportColorWhite: #fff;
$supportColorLight: #ebe1ce;
$supportColorDark: #313037;

// $defaultTextColor: #313037;
// $accentColor: rgb(75, 91, 163);
// $hoverColor: rgb(87, 96, 122);
// $activeColor: rgb(190, 163, 127);
// $btnAddColor: rgb(89, 165, 59);
// $backgroundColor: rgba(158, 164, 194, 0.4);

// $accentColor1: #f28c95;
// $accentColor2: #6087cb;
// $accentColor3: #ffdea5;
// $supportColorWhite: #fff;
// $supportColorLight: #dce5f5;
// $supportColorDark: #313037;
