$defaultFontSize: 16px;
$headTitleFontSize: 48px;
$plainTitleFontSize: 20px;

$defaultTextColor: rgb(68, 68, 68);
$accentColor: rgb(75, 91, 163);
$hoverColor: rgb(87, 96, 122);
$activeColor: rgb(190, 163, 127);
$btnAddColor: rgb(89, 165, 59);
$backgroundColor: rgba(158, 164, 194, 0.4);
